<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/pages/rss.xml" />
    <atom:link href="/rss.xml" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Am(a²)dora - fall in love! </title>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag 'jquery/jquery-1.5.min' %>

<!--script src='http://www.google.com/jsapi'/>
<script>
google.load(&quot;jquery&quot;, &quot;1.3.2&quot;);
</script-->
<!-- script type='text/javascript'>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21420364-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

jQuery(function()
{
  jQuery("#menusisi a").stop().animate({"marginLeft":"-50px"},1000);
  jQuery("#menusisi a, li").hover
  (
    function ()
    {
      jQuery("a",jQuery(this)).stop().animate({"marginLeft":"-2px"},200);
    },
    function ()
    {
      jQuery("a",jQuery(this)).stop().animate({"marginLeft":"-50px"},200);
    }
  );
});
</script-->

</head>

<body>
  <div id=limit>

    <div id="container">
      <div id="top"> <a href="/">  <img src="../images/title.png" border="0" alt="blog pessoal" /> </a>
        <div id="subtitle" > </div>
      </div>

      <div id="sidebar">
        <center>
          <a href="http://mariounaum.tumblr.com" target="_blank" >    <img src="../images/sidebar-blog1.png" onmouseover="this.src='../images/sidebar-blog1-s.png'" onmouseout="this.src='../images/sidebar-blog1.png'" border="0" alt="blog pessoal" /> </a>
          <div class="space_"> <a class="blogbutton2" target="_blank" href="http://tecnounao.wordpress.com">   <img src="../images/sidebar-blog2.png" onmouseover="this.src='../images/sidebar-blog2-s.png'" onmouseout="this.src='../images/sidebar-blog2.png'" border="0" alt="blog tecnounao" />  </a></div>
           <div class="space_"> <a class="contactbutton" href="/contact">                                       <img src="../images/sidebar-contact.png" onmouseover="this.src='../images/sidebar-contact-s.png'" onmouseout="this.src='../images/sidebar-contact.png'" border="0" alt="contact" /> </a> </div>
           <div class="space_"> <a class="blogrollbutton" href="/blogroll">                                     <img src="../images/sidebar-blogroll.png" onmouseover="this.src='../images/sidebar-blogroll-s.png'" onmouseout="this.src='../images/sidebar-blogroll.png'" border="0" alt="blogroll" />  </a> </div>
        </center>
      </div>

     <div id="content2">
        <div id="linkdesign" >
           <a href="/design">   <img src="../images/link-design.png" onmouseover="this.src='../images/link-design-s.png'" onmouseout="this.src='../images/link-design.png'" border="0" alt="DESIGN" />  </a>
        </div>

        <div id="linkdev" >
           <a href="/dev">   <img src="../images/link-dev.png" onmouseover="this.src='../images/link-dev-s.png'" onmouseout="this.src='../images/link-dev.png'" border="0" alt="DESENVOLVIMENTO" />  </a>
        </div>

        <div id="linkaudiovideo" >
           <a href="/audiovideo">   <img src="../images/link-audiovideo.png" onmouseover="this.src='../images/link-audiovideo-s.png'" onmouseout="this.src='../images/link-audiovideo.png'" border="0" alt="AUDIO E VÍDEO" />  </a>
        </div>

        <div id="linktexts" >
           <a href="/texts">   <img src="../images/link-texts.png" onmouseover="this.src='../images/link-texts-s.png'" onmouseout="this.src='../images/link-texts.png'" border="0" alt="ESCRITOS" />  </a>
        </div>

        <div id="linkabout" >
           <a href="/about">   <img src="../images/link-about.png" onmouseover="this.src='../images/link-about-s.png'" onmouseout="this.src='../images/link-about.png'" border="0" alt="PUM" />  </a>
        </div>

         <h2 class="pages_title"> <%= page_title %> </h2>
      </div>

      <div id="content">
        <%= yield %>
      </div>

      <div id="footer">
      </div>

       <div id="footer-image">
       </div>

       <div id="texts">
        <a href="http://validator.w3.org/check?uri=referer"> <img src="../images/linkxhtml.png" border="0" /> </a>
        <a href="http://jigsaw.w3.org/css-validator/check/referer"> <img src="../images/linkcss.png" border="0" /> </a>
        <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by-nc/2.5/br/">  <img src="../images/linkcc.png" border="0" /> </a>
      </div>

  </div>
</body>
</html>

